{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.intro}}
<div class="mw7 center ph3 pv2">
    <div class="tc pv2">
        Soutenez-nous! Soutenez l'Ukraine!
        <div class="pv2 f3">
            <a href="/Soutenir-lUkraine/" style="color: #D92B45;">
                Aidez-nous!
            </a>
        </div>
        Au {{ .Params.money.date }}, nous avons récolté <span style="color:rgba(0,196,3,1);">CHF {{
            .Params.money.collected }}</span>, et nous avons dépensé <span class="b">CHF {{ .Params.money.spent
            }}</span>.
    </div>
    <div class="pv2">
        {{ .Params.presentation }}
    </div>
</div>

{{ partial "partners" .Params.partners }}

{{ end }}