{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}
    <div class="mw7 center ph3 pv4"> 
            L'association DETI a été créée en 2017 dans le but d'améliorer le monde autour de nous en soutenant les jeunes d'Ukraine - les enfants et les adolescents dans leur passage vers l'âge adulte.    
            <br><br>
            Mais l'Ukraine et ses citoyens se retrouvent désormais pris dans dans tourmente de la guerre. Afin de soutenir le pays, nous avons mis en place une plateforme de coopération avec la représentation diplomatique ukrainienne ainsi que toutes les associations ukrainiennes en Suisse. 
    <div class="tc">
        Soutenez-nous! Soutenez l'Ukraine!
        <br>
        <a href="" style="color: #D92B45;">Aidez-nous!</a>
        <br><br>
        Au {{ .Params.money.date }}, nous avons récolté <span style="color:rgba(0,196,3,1);">{{ .Params.money.amount }} CHF</span>.
    </div>
</div> 
<div class="mw7 center ph3 pv4">
	<div class="flex flex-wrap mhn1">
		<div class="w-100 ph1-ns">
			<img src="/img/image1.jpeg" alt="ONU manifestation">
		</div>
	</div>
</div>
<div class="mw7 center ph3">
    Association DETI is an institution that is headquartered in Geneva, Switzerland and is tax exempted for public utility goal and public-service. Any physical person and any legal entity that make a donation to the Association DETI may deduct the amount of the donation from their tax declaration. Physical persons may deduct up to 20% of their total taxable net income. Legal entities may deduct up to 20% of their taxable net profit. Donations in cash or assets (shares, equipment or real estate assets, debts, intellectual property rights) can be deducted.
    However, membership fees, mandatory and labour payments are excluded and cannot be deducted. 
    <br><br>
    Association DETI representative must give their donors and sponsors a donation receipt (attestation de dons) when the donation amount exceeds CHF 300.-per year. Please send us an email to info@detinow.ch in case of any questions or to request your donation receipt.
</div>
<!--{{ partial "2-up" .Params }}

{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }}
-->

{{ end }}
